.navbar {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.nav-links {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem 2rem;

  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}